body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  position: fixed;
  width: 100%;
  height: 100%;
  /* width: 100vw;
  height: 100vh; */
  display: flex;
  /* 由于子元素的flex为auto，所以父元素设置display:flex会自动增长*/
}
.container .header{
  color:#008c8c;
}
.container .main{
  overflow: scroll;
  width: 100%;
  height: 100%;
}
.tablePoster {
  width: 50px;
  border: 1px solid #008c8c;
}